.trending-game-element {
  position: relative;
}

.trending-game-element-container {
  position: absolute;
  height: 90%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #20284e;
  border-radius: 17px;
  cursor: pointer;
}

.trending-game-element-image {
  position: relative;
  width: 100%;
  height: 45.5%;
  object-fit: cover;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

.trending-game-element-detail-container {
  position: relative;
  width: 100%;
  height: 54.5%;
}

.trending-game-element-detail-title-text {
  position: relative;
  display: flex;
  width: 80%;
  height: 30%;
  color: #b3b3f9;
  font-family: "Inter", Helvetica;
  white-space: nowrap;
  margin: 0;
  margin-left: 5%;
  align-items: center;
  font-weight: bold;
}

.trending-game-element-detail-description-text {
  position: relative;
  display: flex;
  width: 80%;
  height: 40%;
  color: white;
  font-family: "Inter", Helvetica;
  white-space: nowrap;
  margin: 0;
  margin-left: 5%;
}
