.bar-overlap-3 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  background-color: #101826;
  display: flex;
  flex-direction: row;
}

.bar-vertical-line {
  position: absolute;
  top: 50%;
  right: 0;
  height: 100%;
  width: 2px;
  transform: translate(0, -50%);
  background-color: grey;
}

.bar-horizontal-line-1,
.bar-horizontal-line-2 {
  position: absolute;
  left: 50%;
  width: 90%;
  height: 2px;
  transform: translate(-50%, -50%);
  background-color: grey;
}

.bar-horizontal-line-1 {
  top: 40%;
}

.bar-horizontal-line-2 {
  top: 49%;
}

.bar-tab-list {
  display: flex;
  flex-direction: column;
  gap: 1%;
  width: 100%;
}

.bar-zkgame-logo-container {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 192 / 72;
  left: 50%;
  transform: translate(-50%, 0);
}

.bar-zkgame-logo-image {
  position: absolute;
  width: 50%;
  height: 25%;
  left: 35%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.bar-tab-button-container {
  position: relative;
  width: 90%;
  height: auto;
  aspect-ratio: 317 / 84;
  left: 5%;
}

.bar-about-us-payment {
  color: #ffffff99;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 41px;
  letter-spacing: 0;
  line-height: 34.4px;
  position: absolute;
  top: 750px;
  width: 230px;
}

.bar-info {
  height: 27px;
  left: 41px;
  object-fit: cover;
  position: absolute;
  top: 697px;
  width: 27px;
}

.bar-trending-wrapper {
  background: linear-gradient(
    180deg,
    rgb(164, 91, 242) 0%,
    rgb(102, 112, 251) 100%
  );
  border-radius: 16px;
  height: 84px;
  left: 22px;
  position: absolute;
  top: 144px;
  width: 317px;
}

.bar-trending-2 {
  align-items: center;
  display: flex;
  gap: 25px;
  left: 32px;
  position: relative;
  top: 24px;
  width: 198px;
}

.bar-trending-icon {
  height: 24px;
  object-fit: cover;
  position: relative;
  width: 42px;
}

.bar-text-wrapper-9 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 86px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 696px;
}

.bar-text-wrapper-10 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -0.5px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-bar;
}

.bar-favourite {
  align-items: center;
  display: flex;
  gap: 25px;
  left: 54px;
  position: absolute;
  top: 268px;
  width: 204px;
}

.bar-favourite-icon {
  height: 31px;
  object-fit: cover;
  position: relative;
  width: 34px;
}

.bar-text-wrapper-11 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-bar;
}

.bar-wallet {
  align-items: center;
  display: inline-flex;
  gap: 25px;
  left: 44px;
  padding: 10px;
  position: absolute;
  top: 365px;
}

.bar-wallet-2 {
  height: 31px;
  object-fit: cover;
  position: relative;
  width: 31px;
}

.bar-setting {
  align-items: center;
  display: inline-flex;
  gap: 25px;
  left: 40px;
  padding: 10px;
  position: absolute;
  top: 574px;
}

.bar-setting-2 {
  height: 38px;
  object-fit: cover;
  position: relative;
  width: 38px;
}

.bar-text-wrapper-12 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-bar;
}
