.bar-container {
  position: relative;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: row;
}

.bar-vertical-line {
  position: absolute;
  top: 50%;
  right: 0;
  height: 100%;
  width: 2px;
  transform: translate(0, -50%);
  background-color: grey;
}

.bar-tab-list {
  display: flex;
  flex-direction: column;
  gap: 1%;
  width: 100%;
}

.bar-zkgame-logo-container {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 192 / 72;
  left: 50%;
  transform: translate(-50%, 0);
}

.bar-zkgame-logo-image {
  position: absolute;
  width: 50%;
  height: 25%;
  left: 35%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.bar-tab-button-container {
  position: relative;
  width: 90%;
  height: auto;
  aspect-ratio: 317 / 84;
  left: 5%;
}

.bar-more-information-button-container {
  position: relative;
  width: 90%;
  height: auto;
  aspect-ratio: 317 / 50;
  left: 5%;
}

.bar-tab-text-container {
  position: relative;
  width: 80%;
  height: auto;
  aspect-ratio: 317 / 25;
  left: 10%;
}

.bar-horizontal-line-container {
  position: relative;
  width: 90%;
  height: 2px;
  left: 50%;
  transform: translate(-50%, 0);
}

.bar-horizontal-line {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: grey;
}
