.content-detail-background-container {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1549 / 697;
}

.content-detail-background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content-detail-background-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.carousel-container {
  position: absolute;
  width: 40%;
  height: auto;
  aspect-ratio: 4 / 1;
  left: 75%;
  bottom: 10%;
  transform: translate(-50%, 0);
  z-index: 10;
}

.carousel-image-1,
.carousel-image-2,
.carousel-image-3 {
  position: absolute;
  width: 30%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  top: 50%;
  transform: translate(-50%, -50%);
}

.carousel-image-1 {
  left: 18%;
}

.carousel-image-2 {
  left: 50%;
}

.carousel-image-3 {
  left: 82%;
}

.carousel-btn {
  position: absolute;
  height: 20%;
  aspect-ratio: 1;
  top: 50%;
  padding: 0;
  margin: 0;
  border: 0;
  transform: translateY(-50%);
  background-color: rgb(164, 91, 242);
  color: white;
  cursor: pointer;
  border-radius: 100%;
}

.carousel-btn.left {
  left: 0%;
}

.carousel-btn.right {
  right: 0%;
}
