.content-bar-container {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1549 / 104;
}

.content-detail-container {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1549 / 701;
}

.content-game-list-container {
  position: relative;
  width: 100%;
  height: auto;
}

.content-bar-right-list {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  display: flex;
  gap: 2%;
  margin-right: 2%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.content-search-container {
  position: absolute;
  width: auto;
  height: 70%;
  aspect-ratio: 10 / 1;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #d9d9d91a;
  border-radius: 10px;
}

.content-bar-search-image {
  position: absolute;
  width: auto;
  height: 60%;
  aspect-ratio: 27 / 29;
  left: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.content-bar-input {
  position: absolute;
  display: flex;
  align-items: center;
  width: 80%;
  height: 60%;
  color: #ffffff4c;
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Inter", Helvetica;
  margin: 0;
  white-space: nowrap;
  background: transparent;
  border: none;
}

.content-bar-notification-image {
  position: relative;
  width: auto;
  height: 30%;
  aspect-ratio: 26 / 29;
  object-fit: cover;
}

.content-bar-user-image {
  position: relative;
  width: auto;
  height: 60%;
  aspect-ratio: 1;
  object-fit: cover;
}
.content-bar-user-name-text {
  position: relative;
  display: flex;
  align-items: center;
  height: 60%;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  margin: 0;
  white-space: nowrap;
}

.content-bar-more-image {
  position: relative;
  width: auto;
  height: 10%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
