.content-detail-container {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1549 / 701;
}

.content-detail-list {
  position: absolute;
  width: 100%;
  height: 95%;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  gap: 3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.content-detail-trending-container {
  position: relative;
  width: 10%;
  height: auto;
  margin-left: 5%;
  aspect-ratio: 148 / 39;
  background-color: #1aff70;
  border-radius: 50px;
}

.content-detail-trending-text {
  position: relative;
  display: flex;
  width: 65%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #101826;
  font-family: "Inter", Helvetica;
  white-space: nowrap;
  margin: 0;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.content-detail-title-text {
  position: relative;
  display: flex;
  width: 80%;
  height: 10%;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  white-space: nowrap;
  margin: 0;
  margin-left: 5%;
  align-items: center;
  font-weight: bold;
}

.content-detail-description-text {
  position: relative;
  display: flex;
  width: 80%;
  margin: 0;
  margin-left: 5%;
  height: 5%;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  white-space: nowrap;
}

.content-detail-play-container {
  position: relative;
  width: 15%;
  height: auto;
  margin-left: 5%;
  aspect-ratio: 211 / 56;
  background: linear-gradient(
    180deg,
    rgb(164, 91, 242) 0%,
    rgb(102, 112, 251) 100%
  );
  border-radius: 16px;
}
