.content-container {
  position: absolute;
  left: 20%;
  top: 0;
  height: 100%;
  width: 80%;
  background-color: #101826;
  display: flex;
  flex-direction: column;
}

.content-game-list-container {
  position: relative;
  width: 100%;
  height: auto;
}

.content-text-wrapper {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 1341px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 42px;
}

.content-card {
  height: 406px;
  left: 61px;
  position: absolute;
  top: 853px;
  width: 333px;
}

.content-rectangle {
  height: 221px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 332px;
}

.content-overlap-2 {
  background-color: #20284e;
  border-radius: 0px 0px 17px 17px;
  height: 184px;
  left: 0;
  position: absolute;
  top: 222px;
  width: 332px;
}

.content-play {
  height: 37px;
  left: 24px;
  position: absolute;
  top: 122px;
  width: 136px;
}

.content-frame {
  align-items: center;
  background: linear-gradient(
    180deg,
    rgb(164, 91, 242) 0%,
    rgb(102, 112, 251) 100%
  );
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 37px;
  justify-content: center;
  padding: 18px 42px;
  position: relative;
  width: 136px;
}

.content-text-wrapper-6 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.54px;
  line-height: 22px;
  margin-top: -0.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.content-frame-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 28px;
  left: 24px;
  position: absolute;
  top: 33px;
  width: 283px;
}

.content-text-wrapper-7 {
  align-self: stretch;
  color: #b3b3f9;
  font-family: "Inter", Helvetica;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1.82px;
  line-height: 26px;
  margin-top: -1px;
  position: relative;
}

.content-text-wrapper-8 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.12px;
  line-height: 18.1px;
  position: relative;
}

.content-card-2 {
  height: 406px;
  left: 422px;
  position: absolute;
  top: 853px;
  width: 333px;
}

.content-card-3 {
  height: 406px;
  left: 783px;
  position: absolute;
  top: 853px;
  width: 333px;
}

.content-card-4 {
  height: 406px;
  left: 1144px;
  position: absolute;
  top: 853px;
  width: 333px;
}
