.content-bar-container {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1549 / 104;
}

.content-detail-container {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1549 / 701;
}

.content-game-list-container {
  position: relative;
  width: 100%;
  height: auto;
}

.content-bar-right-list {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  display: flex;
  gap: 2%;
  margin-right: 2%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.content-search {
  height: 52px;
  left: 46px;
  position: absolute;
  top: 28px;
  width: 506px;
}

.content-bar-notification-image {
  position: relative;
  width: auto;
  height: 30%;
  aspect-ratio: 26 / 29;
  object-fit: cover;
}

.content-bar-user-image {
  position: relative;
  width: auto;
  height: 60%;
  aspect-ratio: 1;
  object-fit: cover;
}
.content-bar-user-name-text {
  position: relative;
  display: flex; /* Enable flexbox */
  align-items: center; /* Vertically align text */
  height: 60%; /* Ensure the height is defined */
  color: #ffffff;
  font-family: "Inter", Helvetica;
  margin: 0;
  white-space: nowrap;
}

.content-bar-more-image {
  position: relative;
  width: auto;
  height: 10%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
