.main {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
  aspect-ratio: 1920 / 1360;
}

.main-div {
  background-color: #ffffff;
  height: 1360px;
  position: relative;
  width: 1920px;
}
