.bar-more-information-button-text {
  display: block;
  width: 70%;
  height: 100%;
  user-select: none;
  outline: none;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.bar-more-information-button-image {
  display: block;
  width: 10%;
  aspect-ratio: 1 / 1;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
